<!--https://cdn.trendhunterstatic.com/phpthumbnails/199/199430/199430_5_800.jpeg-->
<!DOCTYPE html>
<html>
  <head>
    <title>PicFic - 404: Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="../static/css/errorss.css">
    <link rel="stylesheet" type="text/css" href=url_for(>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    
  </head>
  <body>
    <nav class="navbar">
      <a href="/"><img src="../static/svg/PicFic.svg" class="picficLogo"></a>
    </nav><br><br><br><br>
    <h1> Whoops!</h1><br>
    <h2>
      Seems like you turned to the wrong page (or one that doesn't exist).
    </h2>
    <h3>
      <a onclick="goBack()" href="#">Go back to the last page</a> or <a href="/">head right back to our home page</a>
    </h3><br><br><br>

    <img src="https://www.bookstr.com/sites/default/files/2017-05/griefcry2.jpg" class="errorPhoto">
  </body>
  <script>
    function goBack() {
    window.history.back();
    }
  </script>
</html>
