/* Prevent Selection Of Non-Text */
* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

.paragraph {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    position: relative;
    margin-bottom: 3.5%;
    font-size: 14px;
}

::selection {
    background: #D6EDFF;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #D6EDFF;
    /* Gecko Browsers */
}

/* General Styling */
body {
    margin: 0px;
    padding: 0px;
}

#storyContainer {
    margin-top: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 50px;
}

.fanartIcon {
    position: absolute;
    left: 97%;
    float: right;
}

.searchBar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#upload {
    position: absolute;
    display: none;
    top: 100px;
}

.arrow {
    padding-top: 50%;
    position: relative;
}

/* Slick */
.slick-prev:before,
.slick-next:before {
    color: black !important;
}

/* Social Media *
.logos {
    max-width: 200px;
    margin: 0px;
}

.logo1 {
    position: relative;
    padding-top: 200%;
}

.logo2 {
    position: relative;
    padding-top: 10%;
}

.logo3 {
    position: relative;
    padding-top: 10%;
}
/* */

/* Gallery */
.viewArt{
    position: relative;
    width: 100%;
}

.gallery {
    width: 70vw;
    box-shadow: 0 0 .5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    padding: 3%;
    margin-bottom: 10vh;
}

.artPiece {
    display: inline-block;
}

.art {
    height: auto;
    width: auto;
    max-width: 70vw;
    max-height: 50vw;
    vertical-align: middle;
}

/*

/* Gallery
.thumbnails {
    border-radius: 3px;
    left: 2vw;
    width: 15vw;
    height: 15vh;
    position: relative;
}

.gallery {
    padding: 5vh 20vw 5vh 20vw;
}

.gallery-image {
    padding-top: 3vh;
}

.gallery-interact {
    padding-top: 3vh;
}

.gallery-desc {
    padding-top: 3vh;
}

.gallery-thumbnail {
    padding-top: 3vh;
}

.gallery-arrow {
    top: 5vh;
}

.blueicons {
    padding-right: .5vw;
}

.fbicon {
    padding-left: 10vw;
}

.slideshow-container {
    max-width: 60vw;
    max-height: 60vh;
    background-color: #f4f4f4;
}

.slideImages {
    text-align:center;
    display: block;
    margin: auto;
    max-width: 60vw;
    max-height: 60vh;

    width: auto;
    height: auto;
    object-fit: scale-down;
}

.nothumbnails {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 0 0 1vh 0;
}

.gallery-interact {
    padding: 2vh 0 1vh 2vw;
}

.gallery-desc {
    padding: 0 3vw 0 3vw;
}
*/


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* SEARCH STUFF */
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    display: none;
}

.navbar-right {
    min-width: 450px;
    /*or I can probably just use columns*/
}

.navbar-right form {
    width: 100%;
}

.form-group {
    position: relative;
    width: 0%;
    min-width: 60px;
    height: 60px;
    overflow: hidden;
    transition: width 1s;
    backface-visibility: hidden;
}

.form-group input.form-control {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    width: 30%;
    height: 40px;
    margin: 0;
    z-index: 10;
}

input[type="text"].form-control {
    -webkit-appearence: none;
    -webkit-border-radius: 0;
}

.form-control-submit,
.search-label {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    line-height: 60px;
    background: white;
}

.form-control-submit {
    background: #fff;
    /*stupid IE*/
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.search-label {
    z-index: 90;
}

.form-group.sb-search-open,
.no-js .sb-search-open {
    width: 100%;
}

.form-group.sb-search-open .search-label,
.no-js .sb-search .search-label {
    background: #fff;
    color: #fff;
    z-index: 10;
}

.form-group.sb-search-open .form-control-submit,
.no-js .form-control .form-control-submit {
    z-index: 90;
}

/* UPLOAD MODAL */
.modal {
    /*position: fixed;*/
    /*height: 100%;*/
    /* Stay in place */
    /*overflow: auto;*/
    /* Enable scroll if needed */
    /*background-color: rgb(0, 0, 0);*/
    /* Fallback color */
    /*background-color: rgba(0, 0, 0, 0.4);*/
    /* Black w/ opacity */
}

/* Sidebar Modals */
/* Code adapted from https://codepen.io/bootpen/pen/jbbaRa */
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 40%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/* Left Modal Sidebar */
.modal.left.fade .modal-dialog{
    left: -40%;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/* Right Modal Sidebar */
.modal.right.fade .modal-dialog {
    right: -40%px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* Modal Styling */
.modal-footer,
.modal-body {
    text-align: left;
    border: none;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    text-align: center;
    background-color: #F0F0F0;
    border-bottom-color: #D0D0D0;
}

#tocHead {
    margin: 0px;
}

/* Dropzone */
.dropzone {
    height: 100%;
    width: 100%;
}

.dz-message {
    padding-top: 5vh;
}

.dropdesc {
    font-size: 1.5em;
    color: #D0D0D0;
}

.dropzone .dz-preview,
.dropzone .dz-preview.dz-image-preview {
    margin: 0px;
}

.dropzone .dz-preview.dz-image-preview {
    background: white;
    width: 100%;
}

.dropzone .dz-preview .dz-image {
    margin: auto;
}

/* Progress Bar */
.progress {
    width: 30vw;
    background-color: lightgrey;
    height: 10px;
    border-radius: 0px;
    margin: auto;
    margin-bottom: 20px;
}

/* Progress Bar Color */
.progress-bar {
    background-image: -webkit-linear-gradient(top,#ffb6da 0,#ff1d8e 100%);
    background-image: -o-linear-gradient(top,#ffb6da 0,#ff1d8e 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ffb6da),to(#ff1d8e)); 
    background-image: linear-gradient(to bottom,#ffb6da 0,#ff1d8e 100%);
    background-repeat: repeat-x;
}

#progressBar{
    margin: auto;
    height: 5px;
    background-color: #FF69B4;
}

/* Responsive Features */
@media only screen and (max-width: 992px) {
    /* Arrows */
    .arrow {
	padding-top: 20%;
    }
    
    /* ToC Modal */
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
	width: 80%;
    }
}