/* General Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    /* overflow-x: hidden; */ /* Emergency Button, Essentially */
}

.splash {
    height: 80%;
    width: 100%;
    display: flex;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);    
}

.no-padding {
    padding: 0px;
}

.vertical-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.vertical-center.right {
    justify-content: flex-end;
}
.vertical-center.left {
    justify-content: flex-start;
}
.vertical-center.middle {
    justify-content: center;
}

.horizontal-center {
    justify-content: center;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.header-xl {
    font-size: 48px;
}

/* Individual Pages */
/* Page One */
#background-pageone {
    position: absolute;
    opacity: .35;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background1.png);
    background-position: center;
}
#laptop-pageone {
    width: 400px;
    max-width: 50vw;
    height: auto;
}
#headerCarousel {
    width: 80%;
}

/* Page Two */
#pagetwo {
    position: relative;
    display: block;
    width: 100%;
}

.bookcover {
    width: 16vw;
    height: 24vh;
    object-fit: contain;
    margin: auto;
}
.book-preview {
    display: inline-block;
}

#startReading {
    margin-top: 12vw;
    margin-bottom: 6vw;
}
#bookgallery {
    padding-right: 8%;
    padding-left: 8%;
    margin-bottom: 10vh;
}

/* Page Three */
#background-pagethree {
    position: absolute;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background2.png);
}
#pagethreetext {
    padding-left: 15%;
    padding-right: 10%;
}

/* Page Four */
#background-pagefour {
    position: absolute;
    opacity: 0.20;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background3.png);
    background-position: center;
}
#picficdesc {
    font-size: 2.4vh;
    max-width: 30vw;
}
#pagefourtext {
    font-size: 1.2em;
}
.pagefourcontainer {
    max-width: 50vw;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 4%;
}

.picficLogo {
    margin: auto;
    height: 10vh;
    max-height: 100px;
    min-height: 50px;
    width: auto;
    fill: black;
    stroke: black;
    opacity: 1;
}
#mitLogo{
    margin: auto;
}

.pagefourcontent {
    padding-top: 5vh;
}

/* Social Media Bar - Bottom */
.socialMedia {
    position: relative;
    font-family: 'Nunito', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
#socialMediaText {
    font-size: 16px;
}
.logo {
    padding-right: 5vh;
}

/* Slick */
.slick-dots {
    position: relative;
}

/* Responsive Features */
@media only screen and (max-width: 992px) { /* Good For Most Phones & Tablets */
    /* General */
    .splash {
	display: inline-block;
    }

    .vertical-center.right {
	justify-content: center;
    }
    .vertical-center.left {
	justify-content: center;
    }
    .text-left {
	text-align: center;
    }
    .text-right {
	text-align: center;
    }
    .no-padding {
	padding-top: 15%;
    }

    /* Page Two */
    .bookcover {
	width: 24vw;
	height: 36vh;
	object-fit: contain;
	margin: auto;
    }
    
    /* Page Three */ 
    #pagethreetext {
	margin-top: 15%;
	margin-bottom: 15%;
    }
    #title-pagethree {
	font-size: 32px;
    }
    h3 {
	font-size: 16px;
    }

    /* Page Four */
    .pagefourcontainer {
	max-width: 90vw;
	text-align: center;
	align-content: center;
	margin: auto;
	margin-top: 4%;
    }
    #pagefourtext {
	font-size: 1em;
    }
}

@media only screen and (max-width: 360px) { /* Good For Smaller Phones */
    /* General */
    .header-xl {
	font-size: 36px;
    }

    /* Page One */
    h2 {
	font-size: 24px;
    }

    /* Page Three */
    #title-pagethree {
	font-size: 24px;
    }
    #pagethreetext {
	margin-top: 10%;
	margin-bottom: 10%;
    }

    /* Page Four */
    .pagefourcontent {
	padding-top: 2vh;
    }
}