/* General Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    /* overflow-x: hidden; */
}

.splash {
    height: 80%;
    width: 100%;
    display: flex;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);    
}

.no-padding {
    padding: 0px;
}

.vertical-center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.vertical-center.right {
    justify-content: flex-end;
}
.vertical-center.left {
    justify-content: flex-start;
}
.vertical-center.middle {
    justify-content: center;
}

.horizontal-center {
    justify-content: center;
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.header-xl {
    font-size: 48px;
}

/* Individual Pages */
/* Page One */
#background-pageone {
    position: absolute;
    opacity: .35;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background1.png);
    background-position: center;
}
#laptop-pageone {
    width: 400px;
    height: auto;
}
#headerCarousel {
    width: 80%;
}

/* Page Two */
#pagetwo {
    position: relative;
    display: block;
    width: 100%;
}

.bookcover {
    width: 20vw;
    height: 30vh;
    object-fit: contain;
    margin: auto;
}

.book-preview {
    display: inline-block;
}

#startReading {
    margin-top: 16vh;
    margin-bottom: 8vh;
}
#bookgallery {
    padding-right: 8%;
    padding-left: 8%;
    margin-bottom: 8%;
}

/* Page Three */
#background-pagethree {
    position: absolute;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background2.png);
}
#pagethreetext {
    padding-left: 15%;
    padding-right: 10%;
}

/* Page Four */
#background-pagefour {
    position: absolute;
    opacity: 0.20;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background3.png);
}

#picficdesc {
    font-size: 2.4vh;
    max-width: 30vw;
}

.pagefourtext {
    font-size: 1.2em;
}

.pagefourcontainer {
    max-width: 50vw;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 4%;
}

.picficLogo {
    margin:auto;
    height: 6vw;
    width: auto;
    fill: black;
    stroke: black;
    opacity: 1;
}

#mitLogo{
    margin: auto;
}

.pagefourcontent {
    padding-top: 5vh;
}


/* Slick */
.slick-dots {
    position: relative;
}

/*

.pagefivecontent {
    position: absolute;
    text-align: center;
    top: 50vh;
    left: 26vw;
    max-width: 47vw;
    vertical-align: text-top;
    height: 100%;               
    width: 100%;    
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin:-10px;
    background-color:red;
}

.footer {
    top: 490vh;
    position: absolute;
    font-family: 'Nunita', sans-serif;
    font-size: 12px;
    background: #F3F3F3;
    height: 50px;
    width: 100%;
}

.contactUs:focus {
    outline: 0;
}

.cpyright {
    left: 87%;
    top: 40%;
    position: absolute;
    color: black;
}

.logo {
    padding-right: 5vh;
}

.contactfooter {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    background: #EAEAEA;
    max-width: 1920px;
    font-family: 'Nunito', sans-serif;
}

.contactfootercontent {
    z-index: -1;
    left: 12vw;
    position: absolute;
    top: 575vh;
    width: 100%;
    max-width: 1920px;
    font-family: 'Nunito', sans-serif;
}

.footertext {
    padding-left: 27vw;
    font-family: 'Nunito', sans-serif;
}

#footerimg {
    padding-left: 2vw;
    height: 7vh;
    width: auto;
}

*/

/* Social Media Bar - Bottom */
.socialMedia {
    position: relative;
    font-family: 'Nunito', sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
}
#socialMediaText {
    font-size: 16px;
}
