<!DOCTYPE html>
<html>
  
  <head>
    <title>{% block title %}{% endblock%}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="/assets/js/bootstrap-dropdown.js" type="text/javascript"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reading_stylesheet.css') }}">-->
    <link rel="stylesheet" type="text/css" href="../static/css/reading_stylesheet.css");
	  <script src="https://apis.google.com/js/platform.js" async defer></script>
	  <meta name="google-signin-client_id" content="887660322034-rt5g95hhlnd2v2qtngrcrp4tg4s7i0ph.apps.googleusercontent.com">
  </head>

  <body>
    <nav class="navbar">
      <a href="#" data-toggle="modal" data-target="#tocModal"><img src="/static/png/Menu.png" class="navMenu"></a>
      <a href="/"><img src="/static/svg/PicFic.svg" class="navpicficLogo"></a>

      <div class="dropdown-container">
	<button type="button" class="dropdown-toggle user" data-toggle="dropdown">
	</button>
	<ul class="dropdown-menu-right dropdown-menu" role="menu">
          <li>
            <a href="/logout/">Log out</a>
          </li>
	</ul>
      </div>
      <!--<div class="user">make variable so that other images can be put in -->
    </nav>

    <div class="padder">
      <h1> ADMIN DASHBOARD</h1>
      
      <ul class="nav nav-pills">
	<li class="active"><a data-toggle="pill" href="#stors">STORIES</a></li>
	<li><a data-toggle="pill" href="#fanas">FANART</a></li>
	<li><a data-toggle="pill" href="#uses">USERS</a></li>
      </ul>
      <div id="stors" class="tab-pane fade in active">
	<h2>STORIES</h2>
	<table>
	  <tr>
	    <th>TITLE</th>
	    <th>USER</th>
	    <th>DATE SUBMITTED</th>
	    <th>STATUS</th>
	    <th>OPTIONS</th>
	    <th>TAGS</th>
	  </tr>
	  <tr>
	    <td>A Study in Scarlet</td>
	    <td>jlock</td>
	    <td>8/4/17</td>
	    <td>Pending</td>
	    <td><button>Approve</button><br><button>Delete</button></td>
	    <td>mystery</td>
	  </tr>
	</table>
      </div>
      
      <div id="fanas" class="tab-pane fade">
	<h2>FANART</h2>
	<table>
	  <tr>
	    <th>TITLE</th>
	    <th>USER</th>
	    <th>DATE SUBMITTED</th>
	    <th>STATUS</th>
	    <th>OPTIONS</th>
	  </tr>
	  <tr>
	    <td>A Study in Scarlet</td>
	    <td>jlock</td>
	    <td>8/4/17</td>
	    <td>Pending</td>
	    <td><button>Delete</button></td>
	  </tr>
	</table>
      </div>
      
      <div id="uses" class="tab-pane fade">
	<h2>USERS</h2>
	<table>
	  <tr>
	    <th>FIRST NAME</th>
	    <th>LAST NAME</th>
	    <th>USERNAME</th>
	    <th>DOB</th>
	    <th>EMAIL</th>
	    <th>COUNTRY</th>
	    <th>GENDER</th>
	    <th>STATUS</th>
	    <th>OPTIONS</th>
	  </tr>
	  <tr>
	    <td>JEANNE</td>
	    <td>LOCKER</td>
	    <td>JLOCK</td>
	    <td>06/26/1998</td>
	    <td>jealocker@gmail.com</td>
	    <td>USA</td>
	    <td>F</td>
	    <td>Pending</td>
	    <td><button>Approve</button><br><button>Delete</button><br><button>Block</button></td>
	  </tr>
	</table>
      </div>
    </div>
  </body>
</html>


