<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock%}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/launchpad_stylesheet.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/css/launchpad_stylesheet.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="887660322034-rt5g95hhlnd2v2qtngrcrp4tg4s7i0ph.apps.googleusercontent.com">
    
    {% block head %}{% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script>
  var googleUser = {};
  var startApp = function() {
    gapi.load('auth2', function(){
      // Retrieve the singleton for the GoogleAuth library and set up the client.
      auth2 = gapi.auth2.init({
        client_id: '887660322034-rt5g95hhlnd2v2qtngrcrp4tg4s7i0ph.apps.googleusercontent.com',
        cookiepolicy: 'single_host_origin',
        // Request scopes in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
      attachSignin(document.getElementById('customBtn'));
    });
  };

  function attachSignin(element) {
    console.log(element.id);
    auth2.attachClickHandler(element, {},
        function(googleUser) {
          document.getElementById('name').innerText = "Signed in: " +
              googleUser.getBasicProfile().getName();
        }, function(error) {
          /*alert(JSON.stringify(error, undefined, 2));*/
        });
  }
  </script>

  <style type="text/css">
    #customBtn:hover {
    cursor: pointer;
    }
  </style>
  
  </head>

  <body>
    <script>
      function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
      console.log(error);
      }
      function renderButton() {
      gapi.signin2.render('my-signin2', {
      'scope': 'profile email',
      'width': 500,
      'height': 50,
      'longtitle': true,
      'theme': 'light',
      'onsuccess': onSuccess,
      'onfailure': onFailure
      });
      }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
      FB.init({
      appId      :  '1855877571394404', // Set YOUR APP ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
      });
      
      FB.Event.subscribe('auth.authResponseChange', function(response) 
      {
      if (response.status === 'connected') 
      {
      document.getElementById("message").innerHTML +=  "<br>Connected to Facebook";
      //SUCCESS
      
      }    
      else if (response.status === 'not_authorized') 
      {
      document.getElementById("message").innerHTML +=  "<br>Failed to Connect";
      
      //FAILED
      } else 
      {
      document.getElementById("message").innerHTML +=  "<br>Logged Out";
      
      //UNKNOWN ERROR
      }
      }); 
      
      };
      
      function Login()
      {
      
      FB.login(function(response) {
      if (response.authResponse) 
      {
      getUserInfo();
      } else 
      {
      console.log('User cancelled login or did not fully authorize.');
      }
      },{scope: 'email,user_photos,user_videos'});
      
      }
      
      function getUserInfo() {
      FB.api('/me', function(response) {
      
      var str="<b>Name</b> : "+response.name+"<br>";
      str +="<b>Link: </b>"+response.link+"<br>";
      str +="<b>Username:</b> "+response.username+"<br>";
      str +="<b>id: </b>"+response.id+"<br>";
      str +="<b>Email:</b> "+response.email+"<br>";
      str +="<input type='button' value='Get Photo' onclick='getPhoto();'/>";
      str +="<input type='button' value='Logout' onclick='Logout();'/>";
      document.getElementById("status").innerHTML=str;
      
      });
      }
      function getPhoto()
      {
      FB.api('/me/picture?type=normal', function(response) {
      
      var str="<br/><b>Pic</b> : <img src='"+response.data.url+"'/>";
      document.getElementById("status").innerHTML+=str;
      
      });
      
      }
      function Logout()
      {
      FB.logout(function(){document.location.reload();});
      }
      
      // Load the SDK asynchronously
      (function(d){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
      }(document));
      function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
      }

      function fb_login(){
      FB.login(function(response) {

      if (response.authResponse) {
      console.log('Welcome!  Fetching your information.... ');
      //console.log(response); // dump complete info
      access_token = response.authResponse.accessToken; //get access token
      user_id = response.authResponse.userID; //get FB UID

      FB.api('/me', function(response) {
      user_email = response.email; //get user email
      // you can store this data into your database             
      });

      } else {
      //user hit cancel button
      console.log('User cancelled login or did not fully authorize.');

      }
      }, {
      scope: 'publish_stream,email'
      });
      }
      (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
      }());
    </script>

    <nav class="navbar"> <!-- THERE SHOULD BE A DIFFERENT NAVBAR ENTIRELY FOR IF SOMEONE IS LOGGED IN -->
      <img src="../static/svg/PicFic.svg" class="navpicficLogo">
      <!--<span id="aboutus">
	  <a href="/about/">ABOUT US</a>
      </span>-->
      

      <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->

	<!-- Collect the nav links, forms, and other content for toggling -->
	
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
	    
            <li><p class="navbar-text"><a href="/about/">ABOUT US</a></p></li>
	    <li><p class="navbar-text"><a href="/gallery/">COMMUNITY</a></p></li>

	    {% if isLoggedIn %}
	    
	    <li><p class="navbar-text"><a href="/settings/">SETTINGS</a></p></li>
	    <li><p class="navbar-text"><a href="/logout/">LOG OUT</a></p></li>

	    {% else %}

	    <li><p class="navbar-text"><a href="#" data-toggle="modal" data-target="#myModal">SIGN UP or LOG IN</a></p></li>


	    <!-- Modal -->
	    <div class="modal fade" id="myModal" role="dialog">
	      <div class="modal-dialog">
		
		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header" style="text-align: center">
		    <button type="button" class="close" data-dismiss="modal">&times;</button>
		    <h3>Create an account with us</h3>
		    <div class="modal-body">
		      <p>

			<h4>Connect with</h4>
			<!--<div class="row">-->
			<div class="col-md-12">
			  <img src="../static/png/continueWithGoogle.png" id="customBtn"><br>
			  <div id="name"></div>
			  <script>startApp();</script>
			  <a href="#" onclick="fb_login();"><img src="../static/png/continueWithFacebook.png" border="0" alt=""></a><br>
			  <img src="../static/png/continueWithTwitter.png"><br>
			  <!--<div id="my-signin2"></div><br>-->
			  <!--<div id="my-signin2" data-width="500" data-height="50"></div>-->
			  <!--<div class="fb-login-button" data-width="800" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" style="border-radius:0"></div><br>-->
			</div>
			<h3>or sign up with your email</h3>
			<p>
			  <form action="/register/" method = "POST" class="pagefivetext">
			      <div class="form-group">
				<label for="makeUser">Username</label>
				<input type="text" name="makeUsername" class="form-control" id="makeEmail" aria-describedby="emailHelp" placeholder="Enter email">
			      </div>
			      <div class="form-group">
				<label for="makeEmail">Email address</label>
				<input type="email" name="makeEmail" class="form-control" id="makeEmail" aria-describedby="emailHelp" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			      </div>
			      <div class="form-group">
				<label for="makePass">Password</label>
				<input type="password" name="makePass" class="form-control" id="makePass" placeholder="Password">
			      </div>
			      <div class="form-group">
				<label for="confirmPass">Password</label>
				<input type="password" name="confirmPass" class="form-control" id="confirmPass" placeholder="Re-enter your password">
			      </div>
			      <button type="submit" class="btn btn-primary">Create account</button>
			    </form> <br>
			    <small class="form-text text-muted">Already have an account?</small>
			    <button class="btn btn-primary btn-xs text-white"><a href="/login/">Log in</a></button>
			</p>
		      </p>
		    </div>
		    <div class="modal-footer">

		    </div>
		  </div>
		</div>
	      </div>
	      <!--
		  <a href="external-content.htm" rel="#overlay" style="text-decoration:none">
		    <!-- remember that you can use any element inside the trigger -->
		    <!--<button type="button">SIGN UP or LOG IN</button>
			</a>
		  
		  <!-- overlayed element -->
		  <!--<div class="apple_overlay" id="overlay">
		      <!-- the external content is loaded inside this tag -->
		      <!--<div class="contentWrap"></div>
			  </div>-->

		      
		      {% endif %}
		  </div><!-- /.navbar-collapse -->
		  
	    </div><!-- /.container-fluid -->
    </nav>
    {% block content %}{% endblock %}
    <div class="footer">
      <div class="row logos">
        <a href="https://www.facebook.com/thepicfic"><img class="logo" id="logo1" src="../static/launchpad/png/facebook.png"></a>
        <a href="https://www.instagram.com/the.picfic/"><img class="logo" src="../static/launchpad/png/instagram.png"></a>
        <a href="https://twitter.com/ThePicFic"><img class="logo" src="../static/launchpad/png/twitter.png"></a>
      </div>
    </div>
  </body>
  <script src="../static/js/login.js"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</html>
