{% extends 'baseLayout.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/uploadChapter.css">
<link rel="stylesheet" type="text/css" href="/static/css/upload_ss.css">
{% endblock %}
{% block content %}

<!-- Gallery - Deprecated ->
<div class="mystories bookSelection">
  <div>
    {% for bookData in data["myStories"] %}
    <a href="/books/{{bookData['bookID']}}/read" }>
      <img src="/static/data/bookCovers/{{bookData['coverUrl']}}" class="coverArt img-fluid">
      <div class="title"> {{bookData['title']}} </div>
    </a>
    {% endfor %}
  </div>
</div>
<!-- -->

<form class="forms" method="POST" action="/uploadChapter/">
  <h2>Select A Book To Edit</h2>
  <br>
  <div class="text-center"> 
    <select id="bookSelect" name="bookSelect" class="form-control selcls" required>
      {% for book in data['myStories'] %}<option value="{{ book['bookID'] }}">{{ book['title'] }} by {{ book['author'] }}</option>{% endfor %}    
    </select>
    <br><br>
    <button class="btn btn-lg btn-default" id="submit">Submit</button>
  </div>
</form>

<!-- Main Quill library -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="https://cdn.quilljs.com/1.0.0/quill.min.js"></script>
<script src="../static/js/uploadChapter.js"></script>
{% endblock %}
