<!-- Book Landing -->
{% extends 'baseLayout.html' %}
{% block title %}PicFic - {{ data["meta"]["title"] }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}">
<link rel="stylesheet" type="text/css" href="/static/css/book_landing_stylesheet.css">
{% endblock %}

{% block content %}
<!-- Book Preview --> 
<div class="bookInfo" style="background-image: url('/static/data/bookCovers/{{data['coverUrl']}}');background-position:center">
  <div id="coverContent">
    <img src="/static/data/bookCovers/{{data['coverUrl']}}" class="coverArt">
  </div>
  <div id="bookData">
    <h2>{{data["meta"]["title"]}}</h2>
    <h4><i>{{data["meta"]["author"]}}</i></h4>
    <p>
      {% for p in data["meta"]["blurb"]%}
      {{p}}
      <br>
      {% endfor %}
    </p>
    <p>
      <em>{{data["meta"]["misc"]}}</em>
    </p>
  </div>
  <div id="startReading">
    <a href="{{data['bookID']}}/read">
      <button class="toRead"><strong>START READING</strong></button>
    </a>
  </div>
</div>

<div class="viewArt text-center">
  <div style="margin-top:20px;margin-bottom:20px">
    <h3>VIEW FANART FOR <strong>{{data["meta"]["title"]}}</strong></h3>
  </div>
  <div class="container gallery">
    <div id="art-slideshow">
      {% for piece in artData %}
      <div class="artPiece">
	<div>
	  <img class="art" src="{{ piece['url'] }}" style="margin:auto">
	</div>
	<br>
	<div>
	  <strong>By: {{ piece['author'] }}</strong>
	</div>
	<br>
	<div>
	  {{ piece['caption'] }}
	</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Social Media -->
<div class="share">
  <a href="https://www.facebook.com/thepicfic"><img class="logo" id="logo1" src="/static/launchpad/png/facebook.png"></a>
  <br>
  <a href="https://www.instagram.com/the.picfic/"><img class="logo" src="/static/launchpad/png/instagram.png"></a>
  <br>
  <a href="https://twitter.com/ThePicFic"><img class="logo" src="/static/launchpad/png/twitter.png"></a>
</div>

<script>
  bookID = {{data['bookID']}};
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="/static/slick/slick.min.js"></script>
<script src="/static/js/bookLanding.js"></script>
{% endblock %}
