<!DOCTYPE html>
<html>

<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/chapter_style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dropzone.css">
    <link rel="stylesheet" type="text/css" href="../static/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css" />
</head>

<body>
    <nav class="navbar">
        <!-- menu logo -->
        <img src="../static/svg/Menu.svg" class="menuLogo">
        <!-- picfic logo -->
        <img src="../static/svg/PicFic.svg" class="picficLogo">
        <!-- search logo -->
        <img src="../static/svg/search.svg" class="searchLogo">
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-1 logos">
                <!-- Aa logo -->
                <img src="../static/svg/Aa.svg " class="logo1 ">
                <br>
                <!-- facebook logo -->
                <img src="../static/svg/facebook.svg " class="logo2 ">
                <br>
                <!-- twitter logo -->
                <img src="../static/svg/twitter.svg " class="logo3 ">
            </div>
            <div class="col-md-1 arrow">
                <a class="prev"><img src="../static/svg/leftarrow.svg"> </a>
            </div>
            <!-- story stuff -->
            <div class="col-md-8 ">
                <div class="title ">
                    CHAPTER 1: SHERLOCK HOLMES
                </div>
                <div class="story" id="story">
                    <p class="paragraph ">IN the year 1878 I took my degree of Doctor of Medicine of the University of London, and proceeded to Netley to go through the course prescribed for surgeons in the army. Having completed my studies there, I was duly attached to the Fifth Northumberland Fusiliers as Assistant Surgeon. The regiment was stationed in India at the time, and before I could join it, the second Afghan war had broken out. On landing at Bombay, I learned that my corps had advanced through the passes, and was already deep in the enemy’s country. I followed, however, with many other officers who were in the same situation as myself, and succeeded in reaching Candahar in safety, where I found my regiment, and at once entered upon my new duties.
                    </p>
                    <p class="paragraph ">
                        The campaign brought honours and promotion to many, but for me it had nothing but misfortune and disaster. I was removed from my brigade and attached to the Berkshires, with whom I served at the fatal battle of Maiwand. There I was struck on the shoulder by a Jezail bullet, which shattered the bone and grazed the subclavian artery. I should have fallen into the hands of the murderous Ghazis had it not been for the devotion and courage shown by Murray, my orderly, who threw me across a pack-horse, and succeeded in bringing me safely to the British lines.
                    </p>
                    <p class="paragraph ">
                        Worn with pain, and weak from the prolonged hardships which I had undergone, I was removed, with a great train of wounded sufferers, to the base hospital at Peshawar. Here I rallied, and had already improved so far as to be able to walk about the wards, and even to bask a little upon the verandah, when I was struck down by enteric fever, that curse of our Indian possessions. For months my life was despaired of, and when at last I came to myself and became convalescent, I was so weak and emaciated that a medical board determined that not a day should be lost in sending me back to England. I was dispatched, accordingly, in the troopship “Orontes,” and landed a month later on Portsmouth jetty, with my health irretrievably ruined, but with permission from a paternal government to spend the next nine months in attempting to improve it.
                    </p>
                </div>
            </div>
            <!-- -->
            <div class="col-md-1 arrow">
                <a href="#myModal" role="button" data-toggle="modal"> <img id="upload" class="upload" src="../static/svg/upload.svg"></a>
                <a class="next "><img src="../static/svg/rightarrow.svg"></a>
            </div>
        </div>
        <!-- progress bar -->
        <div class="container gallery">
            <div class="nothumbnails">
                <div class="row gallery-image">
                    <div class="col-md-12">
                        <div class="slideshow-container">
                            <span class="slideshow-images" id="slideMaster">
                    
                     </span>
                        </div>
                    </div>
                </div>
                <div class="row gallery-interact">
                    <div class="col-md-6">
                        <img src="../static/svg/heart.svg"> <span id="likes"> 39 likes </span>
                    </div>
                    <div class="col-md-6">
                        <img class="blueicons fbicon" src="../static/svg/blue_fb.svg">
                        <img class="blueicons" src="../static/svg/blue_insta.svg">
                        <img class="blueicons" src="../static/svg/blue_twitter.svg">
                        <img class="blueicons" src="../static/svg/blue_tumblr.svg">
                        <img class="blueicons" src="../static/svg/blue_pin.svg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 gallery-desc">
                        “His eyes were sharp and piercing, save during those intervals of torpor to which I have alluded; and his thin, hawk-like nose gave his whole expression an air of alertness and decision. His chin, too, had the prominence and squareness which mark the man of determination.”
                    </div>
                </div>
            </div>
            <div class="gallery-thumbnail">
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <form action="/file-upload" class="dropzone" id="my-awesome-dropzone">
                        <div class="dz-message" data-dz-message>
                            <center> <span class="dropdesc">Drag & drop file <br>
or click to upload</span>
                                <br> <img src="../static/svg/uploadPicture.svg"> </center>
                        </div>
                    </form>
                    <form action="/uploadArt/" class="dropzone" id="artDrop" method="post" enctype="multipart/form-data">
                        <div class="dz-message" data-dz-message>
                            <center> <span class="dropdesc">Drag & drop file <br>
                    or click to upload</span>
                                <br> <img src="/static/svg/uploadPicture.svg"> </center>
                        </div>
                        <input type="hidden" name="bookID" id="artUploadBookID"></input>
                        <input type="hidden" name="chapterNum" id="artUploadChapterNum"></input>
                        <input type="hidden" name="caption" id="artUploadCaption"></input>
                        <input type="hidden" name="startCC" id="artUploadStartCC"></input>
                        <input type="hidden" name="endCC" id="artUploadEndCC"></input>
                        <button type="button" class="btn btn-default" id="artUploadSubmit">Submit</button>
                        <!-- jokes it's not an html form -->
                    </form>
                </div>
                <div class="modal-footer">
                    <p id="upload-desc"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/dropzone.js "></script>
    <script src=../static/js/chapter.js></script>
    <script type="text/javascript" src="../static/slick/slick.min.js"></script>
</body>

</html>