<!DOCTYPE html>
<html>
<he<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/chapter_style2.css">
    <link rel="stylesheet" type="text/css" href="../static/dropzone.css">
    </head>

    <body>
        <div class="container gallery">
            <div class="nothumbnails">
                <div class="row gallery-image">
                    <div class="col-md-12">
                        <div class="slideshow-container">
                            <span class="slideshow-images" id="slideMaster">
                    
                     </span>
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                    </div>
                </div>
                <div class="row gallery-interact">
                    <div class="col-md-6">
                        <img src="../static/svg/heart.svg"> <span id="likes"> 39 likes </span>
                    </div>
                    <div class="col-md-6">
                        <img class="blueicons fbicon" src="../static/svg/blue_fb.svg">
                        <img class="blueicons" src="../static/svg/blue_insta.svg">
                        <img class="blueicons" src="../static/svg/blue_twitter.svg">
                        <img class="blueicons" src="../static/svg/blue_tumblr.svg">
                        <img class="blueicons" src="../static/svg/blue_pin.svg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 gallery-desc">
                        “His eyes were sharp and piercing, save during those intervals of torpor to which I have alluded; and his thin, hawk-like nose gave his whole expression an air of alertness and decision. His chin, too, had the prominence and squareness which mark the man of determination.”
                    </div>
                </div>
            </div>
            <div class="row gallery-thumbnail">
                <div class="col-md-5ths">
                    <img class="thumbnails" id="thumbnail1" thumbCount="" src="">
                </div>
                <div class="col-md-5ths">
                    <img class="thumbnails" id="thumbnail2" thumbCount="" src="">
                </div>
                <div class="col-md-5ths">
                    <img class="thumbnails" id="thumbnail3" thumbCount="" src="">
                </div>
                <div class="col-md-5ths">
                    <img class="thumbnails" id="thumbnail3" thumbCount="" src="">
                </div>
                <div class="col-md-5ths">
                    <img class="thumbnails" id="thumbnail3" thumbCount="" src="">
                </div>
            </div>
        </div>
    </body>

</html>