{% extends 'baseLayout.html' %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
  <!-- -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/launchpad_ss2.css">
</head>

<body>
    <nav class="navbar">
    <img src="../static/svg/PicFic.svg" class="navpicficLogo">
    <!--<span id="aboutus">
      <a href="/about/">ABOUT US</a>
    </span>-->
    

    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
	  
          <li><p class="navbar-text"><a href="/about/">ABOUT US</a></p></li>
	  <li><p class="navbar-text"><a href="/gallery/">GALLERY</a></p></li>

	  {% if isLoggedIn %}
	  
	  <li><p class="navbar-text"><a href="/settings/">SETTINGS</a></p></li>
	  <li><p class="navbar-text"><a href="/logout/">LOG OUT</a></p></li>

	  {% else %}
	  
	<!--<ul class="nav navbar-nav navbar-right">-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">SIGN UP<span class="caret"></span></a>
	    <ul id="login-dp" class="dropdown-menu">
	      <li>
		<div class="row">
		  <div class="col-md-12">
		    Sign up via
		    <div class="social-buttons">
		      <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
		      <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
		    </div>
                    or
		    <form class="form" role="form" method="post" action="/register/" accept-charset="UTF-8" id="login-nav">
		      <div class="form-group">
			<label class="sr-only" for="inputUsername" >username</label>
			<input type="text" name="username" class="form-control" id="exampleInputEmail2" placeholder="username" name="" required>
		      </div>
		      <div class="form-group">
			<label class="sr-only" for="makePass" >password</label>
			<input type="password" name="password" class="form-control" id="makePass" placeholder="password" required>
                        
		      </div>
		      <div class="form-group">
			<label class="sr-only" for="confirmPass" >re-enter password</label>
			<input type="password" name="password2" class="form-control" id="confirmPass" placeholder="re-enter password" required>
                        
		      </div>
		      <div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Sign up</button>
		      </div>
		    </form>
		  </div>
		</div>
	      </li>
	    </ul>
          </li>

	  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">LOG IN<span class="caret"></span></a>
	    <ul id="login-dp" class="dropdown-menu">
	      <li>
		<div class="row">
		  <div class="col-md-12">
		    Login via
		    <div class="social-buttons">
		      <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
		      <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
		    </div>
                    or
		    <form class="form" role="form" method="post" action="/login/" accept-charset="UTF-8" id="login-nav">
		      <div class="form-group">
			<label class="sr-only" for="inputUsername">Username</label>
			<input type="text" class="form-control" id="inputUser" placeholder="Email address" name="username" required>
		      </div>
		      <div class="form-group">
			<label class="sr-only" for="inputPass">Password</label>
			<input type="password" class="form-control" id="inputPass" placeholder="Password" name="password" required>
                        <div class="help-block text-right"><a href="">Forget the password ?</a></div>
		      </div>
		      <div class="form-group">
			<button type="submit" class="btn btn-primary btn-block">Sign in</button>
		      </div>
		      <div class="checkbox">
			<label>
			  <input type="checkbox"> keep me logged-in
			</label>
		      </div>
		    </form>
		  </div>

		</div>
	      </li>
	    </ul>
          </li>
	</ul>
	{% endif %}
      </div><!-- /.navbar-collapse -->
      
    </div><!-- /.container-fluid -->
  </nav>
    <!-- FIRST PAGE-->
    <div class="pageone">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text1">
                <span id="text1"> Read different</span>
                <br>
                <span id="text2"> Interact with your favorite stories</span>
            </div>
            <div class="col-md-4" id="laptop1">
                <img src="../static/launchpad/png/laptop.png">
            </div>
        </div>
    </div>
    <!-- -->
    <!-- SECOND PAGE -->
    <div class="container content" id="page2">
        <div class="row">
            <div class="col-md-11">
                <h1 id="startreading">Start reading</h1>
            </div>
        </div>
        <div class="row" id="bookgallery">
            <div class="col-md-3">
                <img src="../static/launchpad/png/study_in_scarlet.png">
                <br>
                <span>A STUDY IN SCARLET</span>
                <br>
                <span>Arthur Conan Doyle</span>
            </div>
            <div class="col-md-3">
                <img src="../static/launchpad/png/human_is.png">
                <br>
                <span>HUMAN IS</span>
                <br>
                <span>Philip K. Dick</span>
            </div>
            <div class="col-md-3">
                <img src="../static/launchpad/png/pride_and_prejudice.png">
                <br>
                <span>PRIDE AND PREJUDICE</span>
                <br>
                <span>Jane Austen</span>
            </div>
            <div class="col-md-3">
                <img src="../static/launchpad/png/great_gatsby.png">
                <br>
                <span>THE GREAT GATSBY</span>
                <br>
                <span>F. Scott Fitzgerald</span>
            </div>
        </div>
    </div>
    <!-- -->
    <!-- Page 3 -->
    <div class="pagethree">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pagethreetext">
                <h1>What's a picfic?</h1>
                <br>
                <p id="picficdesc">Picfics are serialized, illustrated novels with chapters released weekly. Every picfic encourages a community where readers can interact within the stories by uploading their own art.</p>
            </div>
            <div class="col-md-5" id="laptop2">
                <img src="../static/launchpad/png/laptop2.png">
            </div>
        </div>
    </div>
    <!-- -->
    <!-- Page 4 -->
    <div class="pagefour">
    </div>
    <div class="container-fluid pagefourcontainer pagefourcontent">
        <div class="row">
            <img src="../static/svg/PicFic.svg" class="picficLogo pagefourcontent">
        </div>
        <div class="row">
            <div class="col-md-11 pagefourtext">
                <p class="pagefourcontent">
                    PicFic is an online publishing platform that serializes stories for readers to illustrate and interact with. We're rediscovering classics, but we'll be releasing science fiction and fantasy stories in the near-future.
                </p>
                <p class="pagefourcontent">
                    We're a team of writers, artists, and developers from MIT. Our mission is to redefine reading as a truly social activity befitting the digital age.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 pagefourcontent">
                <img src="../static/launchpad/png/mitlogo.png" class="picficLogo">
            </div>
        </div>
    </div>
    <!-- -->
    <!-- Page 5 -->
    <div class="pagefive">
    </div>
    <div class="container-fluid pagefivecontent">
        <h1>Stay in the loop</h1>
        <p class=pagefivetext>Fill out this form to receive updates for each chapter, as well as newly released picfics!</p>
    </div>
    <div class="footer container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row logos">
                    <img class="logo" id="logo1" src="../static/launchpad/png/facebook.png">
                    <img class="logo" src="../static/launchpad/png/instagram.png">
                    <img class="logo" src="../static/launchpad/png/twitter.png">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <!-- <footer>
        <div class="contactfooter">
        </div>
        <div class="contactfootercontent container-fluid">
            <div class="row">
                <div class="col-md-11">
                    <img id="footerimg" src="../static/svg/PicFic.svg">
                    <span class="footertext contact"> Contact</span>
                    <span class="footertext copyright">Copyright © 2017 PicFic</span>
                </div>
            </div>
        </div>
    </footer> -->
