html{
    width:100%; 
    margin:0;
}

body {
    position:relative;
    max-width: 1920px;
    margin: 0 auto;
}

.blah {
    font-size: 400px;
    color:red;
}

.pageone {
    opacity: .4;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../launchpad/png/background1.png);
    height: 98vh;
    width: 100%;
    display:flex;
    color: red;

    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

#laptop1 {
    padding-left: 5px;
    top: 38.3vh;
    left: 60vw;
    position: absolute;
}


.text1 {
    font-size: 2.3vw;
    top: 50.5vh;
    left: 16.2vw;
    z-index: 1;
    position: absolute;
}

.content {
    width: 70%;
    max-width: 1920px;
}

#page2 {
    position: absolute;
    top: 140vh;
    width: 100%;
}

#bookgallery {
    padding-right: 5%;
    padding-left: 10%;
}

#startreading {
    text-align: center;
    font-size: 5vh;
    padding-bottom: 5vh;
    padding-top: 7vh;
}

.pagethree {
    position: absolute;
    top: 260vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../launchpad/png/background2.png);
    height: 110vh;
    width: 100%;
    z-index: -1;
}

#laptop2 {
    position: absolute;
    top: 285vh;
    left: 55vw;
    z-index: 1;
}

.pagethreetext {
    position: absolute;
    top: 287vh;
    left: 15vw;
    z-index: 1;
}

#picficdesc {
    font-size: 2.4vh;
    max-width: 30vw;
}

.pagefour {
    opacity: .17;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    top: 356.2vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../launchpad/png/background3.png);
    height: 100vh;
	width: 100%;
}

.pagefourtext {
    font-size: 1.2em;
}

.pagefourcontainer {
    position: absolute;
    max-width: 52vw;
    text-align: center;
    align-content: center;
    top: 365vh;
    left: 24.3vw;
}

.picficLogo{
    height: 6vw;
    width: auto;
    fill: black;
    stroke: black;
    opacity: 1;
}

.pagefourcontent {
    padding-top: 5vh;
}

.pagefive {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 455.2vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../launchpad/png/background4.png);
    height: 100vh;
    width: 100%;
}

.pagefivetext {
    font-size: 1.7em;
    padding-top: 1em;
}

.pagefivecontent {
    """position: absolute;"""
    text-align: center;
    top: 50vh;
    left: 26vw;
    max-width: 47vw;
    vertical-align: text-top;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    margin:-10px;
}

.footer {
    left: 41.5vw;
    height: 13vh;
    position: absolute;
    top: 560vh;
}

.logo {
    padding-right: 5vh;
}

.contactfooter {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    top: 570vh;
    height: 13vh;
    background: #EAEAEA;
    max-width: 1920px;
}

.contactfootercontent {
    z-index: -1;
    left: 12vw;
    position: absolute;
    top: 575vh;
    width:100%;
    max-width: 1920px;
}

.footertext {
    padding-left: 27vw;
}

#footerimg {
    padding-left: 2vw;
    height: 7vh;
    width: auto;
}

.navbar {
    background: #D1EBFF;
}

#aboutus {
    position: absolute;
    right: 15vw;
    padding-top: 2.3vh;
}

#signup {
    position: absolute;
    right: 8vw;
    padding-top: 2.3vh;
}

.navpicficLogo {
	position: absolute;
    height: 6vh;
    width: auto;
    top:.6vh;
    left:6vw;
}

.navbar-inner ul.nav li {
    text-align: center;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
    position: absolute;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
