<!DOCTYPE html>
<html>

<head>
    <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/launchpad_stylesheet.css">
</head>

<body>
    <nav class="navbar">
        <img src="../static/svg/PicFic.svg" class="navpicficLogo">
        <span id="aboutus">
			About us
		</span>
        <!--<span id="signup">
			Sign Up
	</span>-->
	<li class="dropdown">
	  <span id="signup" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></span>

	  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>-->
	  <ul id="login-dp" class="dropdown-menu">
	    <li>
	      <div class="row">
		<div class="col-md-12">
		  <form class="form" role="form" method="post" action="/login/" accept-charset="UTF-8" id="login-nav">
		    <div class="form-group">
		      <label class="sr-only" for="exampleInputEmail2">Email address</label>
		      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="username" required>
		    </div>
		    <div class="form-group">
		      <label class="sr-only" for="exampleInputPassword2">Password</label>
		      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                      <div class="help-block text-right"><a href="">Forget the password ?</a></div>
		    </div>
		    <div class="form-group">
		      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
		    </div>
		    <div class="checkbox">
		      <label>
			<input type="checkbox"> keep me logged-in
		      </label>
		    </div>
		  </form>
		  
		</div>
	      </div>
	    </li>
	  </ul>
	</li>


	<li class="dropdown">
	  <span id="signup" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></span>

	  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>-->
	  <ul id="login-dp" class="dropdown-menu">
	    <li>
	      <div class="row">
		<div class="col-md-12">
		  <form class="form" role="form" method="post" action="/register/" accept-charset="UTF-8" id="login-nav">
		    <div class="form-group">
		      <label class="sr-only" for="exampleInputEmail2">Email address</label>
		      <input type="text" class="form-control" id="exampleInputEmail2" placeholder="username" name = "username" required>
		    </div>
		    <div class="form-group">
		      <label class="sr-only" for="exampleInputPassword2">Password</label>
		      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name = "password" required>
		    </div>
		    <div class="form-group">
		      <label class="sr-only" for="exampleInputPassword2">Reenter Password</label>
		      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" name = "password2" required>
		    </div>
                      
		    <div class="form-group">
		      <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
		    </div>
		  </form>
		  
		</div>
	      </div>
	    </li>
	  </ul>
	</li>
    </nav>
    <!-- FIRST PAGE-->
    <div class="pageone">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 text1">
                <span id="text1"> Read different</span>
                <br>
                <span id="text2"> Interact with your favorite stories</span>
            </div>
            <div class="col-md-5" id="laptop1">
                <img src="../static/launchpad/png/laptop.png">
            </div>
        </div>
    </div>
    <!-- -->
    <!-- SECOND PAGE -->
    <div class="container" id="page2">
        <div class="row">
            <div class="col-md-12">
                <h1 id="startreading">Start reading</h1>
            </div>
        </div>
        <div class="row" id="bookgallery">
            <div class="col-md-3">
                <img src="../static/launchpad/png/study_in_scarlet.png">
                <br>
                <span>A STUDY IN SCARLET</span>
                <br>
                <span>Arthur Conan Doyle</span>
            </div>
            <div class="col-md-3">
                <img src="../static/launchpad/png/human_is.png">
                <br>
                <span>HUMAN IS</span>
                <br>
                <span>Philip K. Dick</span>
            </div>
            <div class="col-md-3">
                <img src="../static/launchpad/png/pride_and_prejudice.png">
                <br>
                <span>PRIDE AND PREJUDICE</span>
                <br>
                <span>Jane Austen</span>
            </div>
            <div class="col-md-3">
                <img src="../static/launchpad/png/great_gatsby.png">
                <br>
                <span>THE GREAT GATSBY</span>
                <br>
                <span>F. Scott Fitzgerald</span>
            </div>
        </div>
    </div>
    <!-- -->
    <!-- Page 3 -->
    <div class="pagethree">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 pagethreetext">
                <h1>What's a picfic?</h1>
                <br>
                <p id="picficdesc">Picfics are serialized, illustrated novels with chapters released weekly. Every picfic encourages a community where readers can interact within the stories by uploading their own art.</p>
            </div>
            <div class="col-md-6" id="laptop2">
                <img src="../static/launchpad/png/laptop2.png">
            </div>
        </div>
    </div>
    <!-- -->
    <!-- Page 4 -->
    <div class="pagefour">
    </div>
    <div class="container-fluid pagefourcontainer pagefourcontent">
        <div class="row">
            <img src="../static/svg/PicFic.svg" class="picficLogo pagefourcontent">
        </div>
        <div class="row">
            <div class="col-md-12 pagefourtext">
                <p class="pagefourcontent">
                    PicFic is an online publishing platform that serializes stories for readers to illustrate and interact with. We're rediscovering classics, but we'll be releasing science fiction and fantasy stories in the near-future.
                </p>
                <p class="pagefourcontent">
                    We're a team of writers, artists, and developers from MIT. Our mission is to redefine reading as a truly social activity befitting the digital age.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 logos pagefourcontent">
                <img src="../static/launchpad/png/mitlogo.png" class="picficLogo">
            </div>
        </div>
    </div>
    <!-- -->
    <!-- Page 5 -->
    <div class="pagefive">
    </div>
    <div class="container-fluid pagefivecontent">
        <h1>Stay in the loop</h1>
        <p class=pagefivetext>Fill out this form to receive updates for each chapter, 
as well as newly released picfics!</p>
    </div>
</body>

</html>
