<!-- Launchpad -->
{% extends 'baseLayout.html' %}
{% block title %}PicFic{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}" />
<link rel="stylesheet" type="text/css" href="/static/css/launchpad_stylesheet.css" />
{% endblock %}

{% block content %}
<!-- Page One --> 
<div class="splash" id="pageone">
  <div class="blur" id="background-pageone"></div>
  <div class="col-md-7 col-xs-12 no-padding">
    <div class="carousel vertical-center right">
      <div id="headerCarousel">
	<div class="text-left">
	  <div class="header-xl">Read different.</div>
	  <br>
	  <h2>Interact with your favorite stories.</h2>
	</div>
	<div class="text-left">
	  <div class="header-xl">Read beautiful.</div>
	  <br>
	  <h2>Illustrate for everyone to see.</h2>
	</div>
	<div class="text-left">
	  <div class="header-xl">Read together.</div>
	  </br>
	  <h2>Connect with other readers.</h2>
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-xs-12 no-padding">
    <div class="vertical-center left">
      <img class="img-fluid" id="laptop-pageone" src="../static/launchpad/png/laptop.png">
    </div>
  </div>
</div>

<!-- Page Two --> 
<div id="pagetwo">
  <div class="text-center" id="startReading">
    <h1><strong>Start reading</strong></h1>
  </div>
  <div id="bookgallery" class="text-center">
    {% for book in data["books"] %}
    <div class="book-preview">
      <div class="text-center">
	<a href="/books/{{book['bookID']}}"><img class="img-fluid bookcover" src="/static/data/bookCovers/{{book['coverUrl']}}"></a>
      </div>
      <br>
      <div class="text-center"><strong>{{book['title']}}</strong></div>
      <br>
      <div class="text-center"><em>{{book['author']}}</em></div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Page Three -->
<div class="splash" id="pagethree">
  <div id="background-pagethree"></div> 
  <div class="col-md-7 col-xs-12">
    <div class="vertical-center middle" id="pagethreetext">
      <div>
	<div class="header-xl">What's a picfic?</div>
	<h3>Picfics are serialized, illustrated novels with chapters released weekly.</h3>
	<h3>Every picfic encourages a community where readers can interact within the stories by uploading their own art.</h3> 
      </div>
    </div>
  </div>
  <div class="col-md-5 col-xs-12">
    <div class="vertical-center left">
      <img class="img-fluid" id="laptop-pageone" src="../static/launchpad/png/laptop2.png">
    </div>
  </div>
</div>

<!-- Page Four -->
<div class="splash" id="pagefour">
  <div class="blur" id="background-pagefour"></div>
  
  <div class="container-fluid pagefourcontainer pagefourcontent">
    <div class="row">
      <img src="../static/svg/PicFic.svg" class="picficLogo img-responsive pagefourcontent">
    </div>
    <div class="row">
      <div class="col-md-12 pagefourtext">
	<p class="pagefourcontent">
          PicFic is an online publishing platform that serializes stories for readers to illustrate and interact with. We're rediscovering classics, but we'll be releasing science fiction and fantasy stories in the near-future.
	</p>
	<p class="pagefourcontent">
          We're a team of writers, artists, and developers from MIT. Our mission is to redefine reading as a truly social activity befitting the digital age.
	</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pagefourcontent">
	<img src="/static/launchpad/png/mitlogo.png" class="img-responsive picficLogo" id="mitLogo">
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
<script src="../static/js/launchpad.js"></script>
{% endblock %}

{% block contactbar %}
<!-- Bottom Contact Bar -->
<div class="socialMedia">
  <div id="socialMediaText" class="text-center">
    Like what we're doing? Follow us on social media!
  </div>
  <div class="logos text-center">
    <a href="https://www.facebook.com/thepicfic"><img class="logo" id="logo1" src="../static/launchpad/png/facebook.png"></a>
    <a href="https://www.instagram.com/the.picfic/"><img class="logo" src="../static/launchpad/png/instagram.png"></a>
    <a href="https://twitter.com/ThePicFic"><img class="lastlogo" src="../static/launchpad/png/twitter.png"></a>
  </div>
</div>
{% endblock %}
