{% extends 'baseLayout.html' %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/css/launchpad_stylesheet.css")>  

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick/slick-theme.css') }}" /> {% endblock %}
{% block content %}

    <div class="profileBackground">
      <div class="aboutMe">
	<div class="bigProf"></div>
	<div class="userNames">
	  <h4><b>{{data["firstName"]}} {{data["lastName"]}}</b></h4>
	  <h6>{{data["username"]}}</h6>
	</div>

	<div class="about">
	  <h5 class="f"> About Me</h5><button class="edit" id="editMe">Edit</button> <br><br>
	  <p>{{data["about"]}}
	    <br><br>
	    Genres: <div id="editAboutMe"> {{data["favGenres"]}}</div></p>
	  <br>
	  <p>Books/Series: <div id="editAboutMe2">{{data["favBooks"]}}</div></p>
	  <br>
	  <p>Authors: <div id="editAboutMe3"> {{data["favAuthors"]}}</div>
	  </p><br>
	  {% if perm == 1 %}
	  <h5 class="e">My Account</h5><button class="edit" id="editAccount">Edit</button> <br><br>
	  
	    <p>
	    Email: <div id="editMyAccount">{{data["email"]}}</div></p>
	    <br>
	    <p>Birthday: <div id="editMyAccount2">{{data["birthday"]}}</div></p>
	    <br>
	    <p>Gender: <div id="editMyAccount3">{{data["gender"]}}</div></p>
	  {% endif %}
	</div>
	 <a href="#" class="cPas cPass" data-toggle="modal" data-target="#changePas" data-dismiss="modal">Change your password</a><br>	    
      </div>
      
      <div class="activity">
	<h4 class="g"><b>My Stories</b></h4> <a href="#" class="newEdit" id="editStories">Edit</a><br>
	<h5>My Stories</h5>
	<div class="bookshelf">
	  {% for bookData in data["myStories"] %}
	  <a href="/books/{{bookData['bookID']}}/read"}>
	  <img src="/static/data/bookCovers/{{bookData['coverUrl']}}" class="coverArt img-fluid">
	  <div class="title"> {{bookData['title']}}</div>
	  </a>
	  {% endfor %}
	</div>
	
	<h4><b>Shelf</b></h4> <a href="#" class="edit" id="editShelf">Edit</a>
	<br>
	<h5> Continue Reading</h5>
	<div class="bookshelf">
	  <!-- put a for loop in here -->
	  {% for bookData in data["myShelf"] %}
	  <a href="/books/{{ bookData['bookID'] }}/read">
	  <img src="/static/data/bookCovers/{{ bookData['coverUrl'] }}" class="coverArt img-fluid">
	  <div class="title">{{bookData['title']}}</div>
	  </a>
	  {% endfor %}
	</div>
	<br
	<h5> Uploaded by me</h5>
	<div class="row uploaded">
	  <div class="row gallery-thumbnail">
          </div>
	</div>
	<br>
	<h5> Liked by me</h5>
	<div class="row liked">
	  <div class="row gallery-thumbnail">
	  </div>
	</div>
      </div>
    </div>




    <!-- CLASS: cPas --------- ID: changePas ---------------------------------->


    <div class="modal fade" id="changePas" role="dialog">
      <div class="modal-dialog cPas">
	
	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header" style="text-align: center" hidden="true"></div>
	  <div class="modal-body">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <img src="../static/svg/PicFic.svg" class="modalpicfic"><br><br><br><br><br><br>
	    <p style="color:red;">Make sure you're ready to change your password before proceeding.<br><br>
	      <form>
		Enter your old password:
		<input type="password" name="oldPass"><br>
		Enter your new password:
		<input type="password" name="newPass"><br>
		Re-enter your new password:
		<input type="password" name="confirmnewPass">
		<button type="submit" class="btn submitButton" data-toggle="modal" data-target="#cpc" data-dismiss="modal">Reset my password</button><br><br><br><br>
	      </form> 
	      <a href="#" class="contactUs" data-toggle="modal" data-target="#contact" data-dismiss="modal">Contact PicFic for further support</a><br>	    
	  </div>
	</div>
	<div class="modal-footer">
	</div>
      </div>
    </div>


    <!-- CLASS: cPas --------- ID: cpc ---------------------------------->


    <div class="modal fade" id="cpc" role="dialog">
      <div class="modal-dialog cPas">
	
	<!-- Modal content-->
	<div class="modal-content">
	  <div class="modal-header" style="text-align: center" hidden="true"></div>
	  <div class="modal-body">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <img src="../static/svg/PicFic.svg" class="modalpicfic"><br><br><br><br><br><br>
	    <p>You've successfully changed your password.<br><br></p><br><br><br>
	     <a href="#" class="contactUs" data-toggle="modal" data-target="#contact" data-dismiss="modal">Contact PicFic for further support</a><br>	    
	  </div>
	</div>
	<div class="modal-footer">
	  
	</div>
      </div>
    </div>
    





    
    <script src="/static/js/profile.js"></script>
    <script type="text/javascript" src="/static/slick/slick.min.js"></script>
  {% endblock %}
