{% extends 'baseLayout.html' %}
{% block css %} <link rel="stylesheet" type="text/css" href="../static/css/launchpad_stylesheet.css")>   <link rel="stylesheet" type="text/css" href="../static/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../static/slick/slick-theme.css" /> {% endblock %}
{% block content %}

    <div class="profileBackground">
      <div class="aboutMe">
	<div class="bigProf"></div>
	<div class="userNames">
	  <h4><b>{{data["firstName"]}} {{data["lastName"]}}</b></h4>
	  <h6>{{data["username"]}}</h6>
	</div>

	<div class="about">
	  <h5 class="f"> About Me</h5><button class="edit" id="editMe">Edit</button> <br><br>
	  <p>{{data["about"]}}
	    <br><br>
	    Genres: <div id="editAboutMe"> {{data["favGenres"]}}</div>
	    <br><br>
	    Books/Series: <div id="editAboutMe2">{{data["favBooks"]}}</div>
	    <br><br>
	    Authors: <div id="editAboutMe3"> {{data["favAuthors"]}}</div>
	    <br>
	  </p>
	  {% if perm == 1 %}
	  <h5 class="e">My Account</h5><button class="edit" id="editAccount">Edit</button> <br><br>
	  
	    <p>
	    Email: <div id="editMyAccount">{{data["email"]}}</div>
	    <br>
	    Birthday: <div id="editMyAccount2">{{data["birthday"]}}</div>
	    <br>
	    Gender: <div id="editMyAccount3">{{data["gender"]}}</div>
	  </p>
	  {% endif %}
	</div>
      </div>
      
      <div class="activity">
	<h4 class="g"><b>My Stories</b></h4> <a href="#" class="newEdit" id="editStories">Edit</a><br>
	<h5>My Stories</h5>
	<div class="bookshelf">
	  {% for bookData in data["myStories"] %}
	  <a href="/books/{{bookData['bookID']}}/read"}>
	  <img src="/static/data/bookCovers/{{bookData['coverUrl']}}" class="coverArt img-fluid">
	  <div class="title"> {{bookData['title']}}</div>
	  </a>
	  {% endfor %}
	</div>
	
	<h4><b>Shelf</b></h4> <a href="#" class="edit" id="editShelf">Edit</a>
	<br>
	<h5> Continue Reading</h5>
	<div class="bookshelf">
	  <!-- put a for loop in here -->
	  {% for bookData in data["myShelf"] %}
	  <a href="/books/{{ bookData['bookID'] }}/read">
	  <img src="/static/data/bookCovers/{{ bookData['coverUrl'] }}" class="coverArt img-fluid">
	  <div class="title">{{bookData['title']}}</div>
	  </a>
	  {% endfor %}
	</div>
	<br
	<h5> Uploaded by me</h5>
	<div class="row uploaded">
	  <div class="row gallery-thumbnail">
	    {% for image in data["uploadedArt"] %}
	    {% endfor %}
          </div>
	</div>
	<br>
	<h5> Liked by me</h5>
	<div class="row liked">
	  <div class="row gallery-thumbnail">
	    {% for image in data["likedArt"] %}
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
    <script src="../static/js/profile.js"></script>
    <script type="text/javascript" src="../static/slick/slick.min.js"></script>
  {% endblock %}
