<!DOCTYPE html>
<html>
  <!-- THIS STUFF IS FROM readingLayout.html!!!!!!!!!!!!!!!!!!!!-->
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>{% block title %}{% endblock%}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reading_stylesheet.css') }}">-->
    <link rel="stylesheet" type="text/css" href="../static/css/launchpad_stylesheet.css")>
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="887660322034-rt5g95hhlnd2v2qtngrcrp4tg4s7i0ph.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <img src="../static/svg/PicFic.svg" class="navpicficLogo">
      <div class="dropdown-container">
	<button type="button" class="dropdown-toggle user" data-toggle="dropdown">
	</button>
	<ul class="dropdown-menu-right dropdown-menu" role="menu">
          <li>
            <a href="/logout/">Log out</a>
          </li>
	</ul>
      </div><!-- make variable so that other images can be put in -->
    </nav>

    <div class="profileBackground">
      <div class="aboutMe">
	<div class="bigProf"></div>
	<div class="userNames">
	  <h4><b>Christine Oh</b></h4>
	  <h6>yehjinoh</h6>
	</div>

	<div class="about">
	  <h5> About Me</h5><a href="#" class="edit">Edit</a> <br><br>
	  <p>Hi, my name is Christine. I'm a user of PicFic. This is going to be an about me text that is maximmum 50 words.
	    <br><br>
	    Genres: Fantasy, Sci-fi.
	    <br><br>
	    Books/Series: Harry Potter, Lord of the Rings
	    <br><br>
	    Authors: J.K. Rowling, Stephen King<br>
	  </p>
	  <h5>My Account</h5><a href="#" class="eedit">Edit</a> <br><br>
	  <p>
	    Email: yehjinoh@gmail.com<br>
	    Birthday: <br>
	    Gender: Female
	  </p>
	</div>
      </div>
      
      <div class="activity">
	<h4><b>My Activity</b></h4> <a href="#" class="aedit">Edit</a>
	<br>
	<h5> Continue Reading</h5>
	<div class="bookshelf">
	  <img src="../static/launchpad/png/study_in_scarlet.png" class="coverArt img-fluid">
	  <div class="title"> A Study in Scarlet</div>
	</div>
	<br>
	<h5> Uploaded by me</h5>
	<div class="photoHolder">
	  <div class="row gallery-thumbnail">
            <div class="col-md-1">
              <a class="prev gallery-arrow gallery-prev"><img src="../static/svg/leftarrow.svg" class="arr"> </a>
            </div>
            <div class="col-md-3">
              <img class="thumbnails" id="thumbnail1" thumbCount="" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Samoyed-sweetjedysamoyeds.jpg">
            </div>
            <div class="col-md-3">
              <img class="thumbnails" id="thumbnail2" thumbCount="" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Samoyed-sweetjedysamoyeds.jpg">
            </div>
            <div class="col-md-3">
              <img class="thumbnails" id="thumbnail3" thumbCount="" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Samoyed-sweetjedysamoyeds.jpg">
            </div>
            <div class="col-md-1">
              <a class="next gallery-arrow gallery-next"><img src="../static/svg/rightarrow.svg" class="arr"> </a>
            </div>
          </div>
	</div>
	<br>
	<h5> Liked by me</h5>
	<div class="photoHolder">
	  <div class="row gallery-thumbnail">
            <div class="col-md-1">
              <a class="prev gallery-arrow gallery-prev"><img src="../static/svg/leftarrow.svg" class="arr"> </a>
            </div>
            <div class="col-md-3">
              <img class="thumbnails" id="thumbnail1" thumbCount="" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Samoyed-sweetjedysamoyeds.jpg">
            </div>
            <div class="col-md-3">
              <img class="thumbnails" id="thumbnail2" thumbCount="" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Samoyed-sweetjedysamoyeds.jpg">
            </div>
            <div class="col-md-3">
              <img class="thumbnails" id="thumbnail3" thumbCount="" src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Samoyed-sweetjedysamoyeds.jpg">
            </div>
            <div class="col-md-1">
              <a class="next gallery-arrow gallery-next"><img src="../static/svg/rightarrow.svg" class="arr"> </a>
            </div>
          </div>
	</div>
      </div>
    </div>
    <script src="../static/js/profile.js"></script>
  </body>
</html>
