<!DOCTYPE html>
<html>
  
  <head>
    <title>{% block title %}{% endblock%}</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-dropdown.js" type="text/javascript"></script>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reading_stylesheet.css') }}">-->
    {% block css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="../static/css/reading_stylesheet.css");
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css"/>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="887660322034-rt5g95hhlnd2v2qtngrcrp4tg4s7i0ph.apps.googleusercontent.com">
  </head>

  <body>
    <nav class="navbar">
      <a href="#" data-toggle="modal" data-target="#tocModal"><img src="../static/png/Menu.png" class="navMenu"></a>
      <a href="/"><img src="../static/svg/PicFic.svg" class="navpicficLogo"></a>

      <div class="dropdown-container">
	<button type="button" class="dropdown-toggle user" data-toggle="dropdown">
	</button>
	<ul class="dropdown-menu-right dropdown-menu" role="menu">
          <li>
            <a href="/logout/">Log out</a>
          </li>
	</ul>
      </div>
      <!--<div class="user">make variable so that other images can be put in -->
    </nav>

    <!-- CLASS: toc --------- ID: tocModal ------------------------------------>

    <div class="modal fade" id="tocModal" role="dialog">
      <div class="modal-dialog toc">
	<div class="modal-content">
	  <div class="blurrify"></div>
	  <div class="modal-header" style="text-align: center" hidden="true"></div>
	  <div class="modal-body">
	    <br><p class="taboc">TABLE OF CONTENTS</p><br><br><br>
	    <br>
	    <p class="bookParts">
	      PART I<br><br>
	      Chapter I. Sherlock Holmes<br>
	      Chapter II. The Science of Deduction<br>
	      Chapter III. The Lauriston Garden Mystery<br>
	      Chapter IV. What John Rance Had to Tell<br>
	      Chapter V. Our Advertisement Brings a Visitor<br>
	      Chapter VI. Tobias Gregson Shows What He Can Do<br><br><br>
	      PART II<br><br>
	      Chapter I. On the Great Alkali Plain<br>
	      Chapter II. The Flower of Utah<br>
	      Chapter III. John Ferrier Talks with the Prophet<br>
	      b<br> b<br> b<br> b<br> b<br> b<br> b<br> b<br>
	    </p>
	  </div>
	</div>
	<div class="modal-footer">
	</div>
      </div>
    </div>

    {% block content %}{% endblock %}
    
    
    
  </body>
</html>
