<!DOCTYPE html>
<!-- Reading Layout -->
<html>  
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="887660322034-rt5g95hhlnd2v2qtngrcrp4tg4s7i0ph.apps.googleusercontent.com">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reading_stylesheet.css">
    {% block css %}{% endblock %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  {% block js %}{% endblock %}
  
  <body>
    <nav class="navbar">
      {% if showMenu == 1 %}
      <div class="navbar-div">
	<a href="#" data-toggle="modal" data-target="#tocModal"><img src="/static/png/Menu.png" class="navMenu"></a>
      </div>

      {% endif %}
      <div class="navbar-div">
	<a href="/"><img src="/static/svg/PicFic.svg" class="navpicficLogo"></a>
      </div>

      <div class="navbar-div">
	{% if isLoggedIn %}
	<button type="button" class="dropdown-toggle user" data-toggle="dropdown"></button>
	<ul class="dropdown-menu-right dropdown-menu" role="menu">
	  {% if isLoggedIn == 3 %}
          <li>
            <a href="/admin/">Admin Panel</a>
          </li>
	  {% endif %}
          <li>
            <a href="/user/myProfile/">My Profile</a>
          </li>
          <li>
            <a href="/uploadStory/">Upload Story</a>
          </li>
          <li>
	    <a href="/bookSelect/">Edit Books</a>
	  </li>
          <li>
            <a href="/logout/">Log Out</a>
          </li>
	</ul>
	{% endif %}
      </div>
      <!--<div class="user">make variable so that other images can be put in -->
    </nav>
    
    <!-- CLASS: toc --------- ID: tocModal ------------------------------------>
    {% if showMenu == 1 %}
    <div class="modal fade" id="tocModal" role="dialog">
      <div class="modal-dialog toc">
	<div class="modal-content">
	  <div class="blurrify"></div>
	  <div class="modal-header" style="text-align: center" hidden="true"></div>
	  <div class="modal-body">
	    <br><p class="taboc">TABLE OF CONTENTS</p><br><br><br>
	    <br><a href="/books/{{pageData['bookID']}}">Back To Landing</a>
	    <br>
	    <p class="bookParts">
              
              {% for ch in pageData["chData"] %}
              {% if ch["permit"] == 1 %}
              <a class = "btn" href="/books/{{pageData['bookID']}}/read/{{ch['chapterNum']}}">
		{{ch['chapterNum']}}&#9;{{ch["title"]}}</a>
              {% else %}
              <a class = "btn disabled" href="/books/{{pageData['bookID']}}/read/{{ch['chapterNum']}}">
		{{ch['chapterNum']}}&#9;{{ch["title"]}}</a>
              {% endif %}
              <br>            
              {% endfor %}
	    </p>	    
	  </div>
	</div>
	<div class="modal-footer"></div>
      </div>
    </div>
    {% endif %}
    
    {% block content %}{% endblock %}
    {% block endjs %}{% endblock %}
  </body>
</html>
