<!-- Upload Story -->
{% extends 'baseLayout.html' %}
{% block title %}PicFic - Upload Story{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/dropzone.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/upload_ss.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/uploadStory.css"/>
{% endblock %}
{% block content %}

<!-- Upload A Picfic -->
<form class="forms" id="uploadStoryForm" action="/uploadStoryText/" enctype="multipart/form-data" data-toggle="validator" method="POST" >
  <h2>Upload A Picfic</h2>
  <br>
  <div class="form-group">
    <h4>Title</h4>
    <input type="text" class="form-control" placeholder="Book Title" id="bookTitle" name="title" required>
  </div>
  <br>
  <div class="form-group">
    <h4>Author</h4>
    <input type="text" class="form-control" placeholder="Auhor Name" id="bookAuthor" name="author" required>
  </div>
  <br>
  <div class="form-group">
    <h4>Blurb</h4>
    <textarea class="form-control" rows="5" placeholder="Max. 150 Words" id="blurbText" name="blurb" required></textarea>
  </div>
  <br>
  <div class="form-group text-center">
    <h4>Upload A Cover</h4>
    <div class="dropzone" id="coverImage" name="cover">
      <div class="dz-message" data-dz-message><div class="dz-custom-message">Drag &amp; Drop<br>(Or click to upload)</div></div>
    </div>
  </div>
  <br>
  <div class="text-center">
    <button type="submit" class="btn btn-lg btn-default" id="submitStoryBtn">Submit Story</button>
  </div>
</form>

<script src="/static/js/dropzone.js "></script>
<script src="/static/js/uploadStory.js"></script>
{% endblock %}
