{% extends 'baseLayout.html' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/upload_ss.css">
<link rel="stylesheet" type="text/css" href="/static/css/dropzone.css"/>
{% endblock %}
{% block content %}

    <div class="back">
      <div class="main">
	<div class="h">Upload New Picfic</div><br>
	<form id="storyUploadDropzone" class="dropzone" action="/uploadStoryText/" method="post" enctype="multipart/form-data">
	  <div class="dropzone-previews"></div> <!-- this is were the previews should be shown. -->
	  <!-- Now setup your input fields -->
	  <div class="descriptiveText">Title</div>
	  <div class="descriptiveText" style="margin-left: 400px" >Author</div><br><br>
	  <input type="text" class="descriptiveText" placeholder="Title" style="width:370px;" id="bookTitle" name="title">
	  <input type="text" class="descriptiveText" placeholder="Author" style="margin-left:50px; width:230px;" id="bookAuthor" name="author"><br><br>
	  <div class="descriptiveText">Upload Cover</div><br>
	  <div class="descriptiveText" id="blurb">Blurb (max. 150 words)</div><br><br>
	  <input type="text" class="pText" id="blurbText" name="blurb"><br><br><br><br><br><br><br><br><br><br><br><br>
	  <div class="descriptiveText">Story (separate pages with ***)</div><br><br>
			    
	  <button type="button" class="btn btn-default prev" id="submitStoryBtn">Submit Story</button>
	</form>
	<textarea rows="4" cols="50" form="storyUploadDropzone" class="sText" id="storyText" name="storyText">
	  Story text here
	</textarea>
	<!-- <form action="" id="uploadStoryForm" method="post" enctype="multipart/form-data"> -->
	<!--
	      <div class="descriptiveText">Genres<br><br>

		<table class="xboxGrid">
		  <tr>
		    <td><input type="checkbox" class="check" name="adventure" value="adventure" style="margin-right:10px;"/><label for="adventure">Adventure</label></td>
		    <td><input type="checkbox" class="check" name="lgbt" value="lgbt" style="margin-right:10px;"/><label for="lgbt">LGBT+</label></td>
		    <td><input type="checkbox" class="check" name="scifi" value="scifi" style="margin-right:10px;"/><label for="scifi">Science Fiction</label></td>
		  </tr>
		  <tr>
		    <td><input type="checkbox" class="check" name="fantasy" value="fantasy" style="margin-right:10px;"/><label for="fantasy">Fantasy</label></td>
		    <td><input type="checkbox" class="check" name="literary" value="literary" style="margin-right:10px;"/><label for="literary">Literary</label></td>
		    <td><input type="checkbox" class="check" name="thrill" value="thrill" style="margin-right:10px;"/><label for="thrill">Thriller/Suspense</label></td>
		  </tr>
		  <tr>
		    <td><input type="checkbox" class="check" name="historical" value="historical" style="margin-right:10px;"/><label for="historical">Historical</label></td>
		    <td><input type="checkbox" class="check" name="mainstream" value="mainstream" style="margin-right:10px;"/><label for="mainstream">Mainstream</label></td>
		    <td><input type="checkbox" class="check" name="ya" value="ya" style="margin-right:10px;"/><label for="ya">Young Adult</label></td>
		  </tr>
		  <tr>
		    <td><input type="checkbox" class="check" name="horror" value="horror" style="margin-right:10px;"/><label for="horror">Horror</label></td>
		    <td><input type="checkbox" class="check" name="rom" value="rom" style="margin-right:10px; margin-right:10px;"/><label for="rom">Romance</label></td>
		  </tr>
		</table>
	      </div><br><br>
	      -->
      </div>
      <script src="/static/js/dropzone.js "></script>
      <script src="/static/js/uploadStory.js"></script>
{% endblock %}
